<mat-sidenav-container class="estilos-container">
  
  <mat-sidenav-content>
    <mat-toolbar class="custom-toolbar color-nav">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>EDDS: Empresa Desarrolladora De Software</span>
    </mat-toolbar>

  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="over" mode="over" class="">
      <mat-list role="list" class="lista">
          <mat-list-item role="listitem">
            <a href="/inicio">Inicio</a>
          </mat-list-item>

          <mat-list-item role="listitem">
            <a href="/nosotros">Nosotros</a>
          </mat-list-item>

          <mat-list-item role="listitem">
            <a href="/tabla">Tabla</a>
          </mat-list-item>
        </mat-list>
  </mat-sidenav>

</mat-sidenav-container>

<div class="center-container">
    <div class="circle">
        <img src="assets/Pictures/LogoEmpresa.png" alt="Imagen Circular">
    </div>
</div>

<div class="PrincipalTags">
    <mat-chip-listbox aria-label="Fish selection">
      <mat-chip-option>Java</mat-chip-option>
        <mat-chip-option>Tecnología</mat-chip-option>
        <mat-chip-option>Angular</mat-chip-option>
        <mat-chip-option>Desarrollador</mat-chip-option>
        <mat-chip-option>C#</mat-chip-option>
        <mat-chip-option>Azure</mat-chip-option>
        <mat-chip-option>VideoJuegos</mat-chip-option>
        <mat-chip-option>JavaScript</mat-chip-option>
        <mat-chip-option>Programación</mat-chip-option>
        <mat-chip-option>Software</mat-chip-option>
        <mat-chip-option>SQL</mat-chip-option>
        <mat-chip-option>Bootstrap</mat-chip-option>
        <mat-chip-option>Aplicaciones Web</mat-chip-option>
        <mat-chip-option>TypeScript</mat-chip-option>
        <mat-chip-option>Aplicaciones de Escritorio</mat-chip-option>
        <mat-chip-option>HTML</mat-chip-option>
        <mat-chip-option>Aplicaciones Móviles</mat-chip-option>
        <mat-chip-option>CSS</mat-chip-option>
        <mat-chip-option>C++</mat-chip-option>
        <mat-chip-option>Diseño</mat-chip-option>
    </mat-chip-listbox>
</div>

<div class="carrusel-container">
  <mat-tab-group>
    <mat-tab label="Web">
      <div class="carrusel-imagenes">
        <img class="imagenes-carrusel" src="assets\Pictures\AppWeb.png" alt="Imagen Circular">
      </div>
    </mat-tab>
    <mat-tab label="Móviles">
      <div class="carrusel-imagenes">
        <img class="imagenes-carrusel" src="assets\Pictures\AppMovil.png" alt="Imagen Circular">
      </div>
    </mat-tab>
    <mat-tab label="Escritorio">
      <div class="carrusel-imagenes">
        <img class="imagenes-carrusel" src="assets\Pictures\AppEscritorio.png" alt="Imagen Circular">
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
  
  <footer>

    <div>
        <img src="assets\Pictures\LogoEmpresa.png">

        <ul>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Mision</a></li>
          <li><a href="#">Visión</a></li>
          <li><a href="#">Ayuda</a></li>
      </ul>

        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Whatsapp</a></li>
            <li><a href="#">Twitter</a></li>
        </ul>
    </div>

    <p>Copyrights © 2023 Todos los Derechos Reservados.</p>

  </footer>