.estilos-container{
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    position:absolute;
}
.color-nav{
    background-color: crimson;
    color: white;
}
.lista{
    height: 100%;
    width: 150px;
    background-color: rgb(255, 255, 255);
}