/*Estilos del nav*/
.estilos-container{
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  position: inherit;
}
.color-nav{
  background-color: #015e6e;
  color: white;
}
.lista{
  height: 100%;
  width: 250px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}
.lista a{
  text-decoration: none;
  font-weight: bold;
  color: #015e6e;
  font-size: large;
}

/* imagen superior */
.container-imagen{
  position: relative;
  padding: 0px;
  margin: 0px;
}
.container-imagen h1{
  position: absolute;
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background: rgba(0, 0, 0, 0.7); 
  color: #fff;
  padding: 100px;
  border-radius: 5px;
  z-index: 1; 
}
.container-imagen img{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
/* Tarjetas */
.testimonio{
  text-align: center;
  background-image: radial-gradient(circle, #ffff, #ffff, #8db8f9, #00262d);
  margin-top: 50px;
  min-height: 600px;
}

.testimonio h2{
  margin-top: 40px;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xxx-large;
}

.container-card{
  text-align: center;
}
.example-card {
  max-width: 400px;
  margin-bottom: 8px;
margin: auto;
}
.example-card img{
  width: 220px;
}
.example-card p{
  padding: 10px;
  font-size: large;
}

/* Footer */
footer{
    background-image: linear-gradient(to left, #015e6e, #a7ccf4, #ffffff, #ffffff);
    position: absolute;
    width: 100%;
    right: 0; 
    margin-top: 100px;
  }
  footer img{
    height: 200px;
    padding: 20px;
  }
  footer div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer div ul li{
    margin: 15px;
    list-style: none;
  }
  footer div ul li a{
    padding: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
  }
  footer div ul{
    list-style: circle;
    color: aliceblue;
    padding-right: 200px;
  }
  footer p{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    padding: 5%;
    font-size: x-large;
  }