<p id="container-nav">
  <mat-toolbar class="colorNavs">
    <mat-toolbar-row>
      <span>EDDS: Empresa Desarrolladora De Software</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

<div class="container-imagen">
  <h1>Somos una empresa de tecnología dedicada al desarrollo de software.</h1>
  <img src="assets\Pictures\Info-nosotros.jpg" alt="">
</div>

<!-- Tarjetas -->

<div class="testimonio">
  <br>
  <br>
  <h2>Testimonio de un cliente</h2>
  <br>
  <br>
  <div class="conatiner-card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Luis Guzmán</mat-card-title>
          <mat-card-subtitle>Empresario</mat-card-subtitle>
          <img mat-card-lg-image src="assets/Pictures/LuisGuzman.jfif" >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <p>
          "Hace algunos años pedí a EDDS desarrollar un software
          para mi pequeño negocio, hicieron un trabajo increíble,
          ahora mi negocio ha crecido enormemente."
        </p>
      </mat-card-content>
    </mat-card>
    
  </div>
</div>

<footer>

  <div>
      <img src="assets\Pictures\LogoEmpresa.png">

      <ul>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Mision</a></li>
        <li><a href="#">Visión</a></li>
        <li><a href="#">Ayuda</a></li>
    </ul>

      <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Whatsapp</a></li>
          <li><a href="#">Twitter</a></li>
      </ul>
  </div>

  <p>Copyrights © 2023 Todos los Derechos Reservados.</p>

</footer>